[Unit]
Description=Lexa Server - Instance and Service Discovery for LXD
Documentation=https://www.kaidyth.com
After=network.target

[Service]
PermissionsStartOnly=true
LimitNOFILE=1048576
LimitNPROC=512
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
User=root
Group=lexa
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/lexa server --config=/etc/lexa/lexa.hcl
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target