#!/sbin/openrc-run

description="Lexa - Server"
name=lexa-server
cfgfile="/etc/lexa/lexa.hcl"
command="/usr/local/bin/lexa server"

depend() {
    need net
    need localmount
    use dns logger
}

start() {
    $command --config $cfgfile
}

reload() {
    /bin/kill -QUIT $pid
    $command --config $cfgfile
}

stop() {
    /bin/kill -QUIT $pid
}
